/*=========================================================
	04 -> CATEGORY SHOP
===========================================================*/

.shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
  }
  
  .shop:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
  
  .shop:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg) translateX(-100%);
    -ms-transform: skewX(-45deg) translateX(-100%);
    transform: skewX(-45deg) translateX(-100%);
  }
  
  .shop .shop-img {
    position: relative;
    background-color: #E4E7ED;
    z-index: -1;
  }
  
  .shop .shop-img>img {
    width: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .shop:hover .shop-img>img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .shop .shop-body {
    position: absolute;
    top: 0;
    width: 75%;
    padding: 30px;
    z-index: 10;
  }
  
  .shop .shop-body h3 {
    color: #FFF;
  }
  
  .shop .shop-body .cta-btn {
    color: #FFF;
    text-transform: uppercase;
  }